﻿<%@ Page Title="" Language="C#" MasterPageFile="~/cscmsPlain.master" AutoEventWireup="true" CodeFile="DefaultErrorPage.aspx.cs" Inherits="DefaultErrorPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>

