﻿<%@ Page Title="CSCMS | Genogram" Language="C#" MasterPageFile="~/CSCMS.master" AutoEventWireup="true" CodeFile="Genogram2.aspx.cs" Inherits="MemberPages_Genogram2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="PageContent" Runat="Server">
    <div class="pageTitle" style="float: left">Genogram2</div>
    <div style="clear: both;"></div>
    <CSCMSUC:MessageBox ID="messageBox" runat="server" />
    
</asp:Content>

