﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="CSCMSPlain.master.cs" Inherits="CSCMSPlain" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="MasterHead" runat="server">
    <title>CSCMS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="CSCMS - Office of Court Administration - courts.state.tx.us" />
    <meta name="keywords" content="Office of Court Administration, OCA, Child Support, CSCMS, Child Support Case Management System" />
    <meta name="description" content="OCA: Child Support Case Management System." />
    <base />
    <link type="text/css" rel="stylesheet" href="~/styles/stylesheet_2.css" />
    <link href="images/csc.gif" type="image/gif" rel="Shortcut Icon" />
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="MasterPageForm" runat="server">
    <asp:ScriptManager ID="scriptManager" runat="server" />
    <div style="text-align: center;">
        <table cellpadding="0" cellspacing="0" border="0" width="977" style="text-align: left;">
            <tr>
                <td style="background-image: url('../images/topbg.jpg'); height: 40px; padding-left: 20px;" id="topBkImage" runat="server">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <img src='<%= CscmsImageUrl %>' alt="CSCMS" style="padding-top: 12px;" />
                            </td>
                            <td align="right" style="padding-right: 15px; padding-top: 10px">
                                <table cellpadding="0" class="userSummary">
                                    <tr>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="background: #678FC2 url('../images/bodybg.jpg') repeat-y;">
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tr>
                            <td valign="top" style="padding-left: 0px; padding-right: 0px;" width="99%">
                                <div style="height: 1px; background-color: #666666">
                                </div>
                                <div style="padding-left: 9px; padding-right: 0px; padding-top: 0px; margin-top: 0px;">
                                    <asp:ContentPlaceHolder ID="PageContent" runat="server">
                                    </asp:ContentPlaceHolder>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="footerAnon">
                    <table cellpadding="1" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <a id="footerLink1" runat="server" >Contacts</a> | <a href="http://www.courts.state.tx.us">
                                    OCA Homepage</a>
                            </td>
                            <td align="right">
                                Version 0.99.03.1928
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Copyright &copy; 2009 Office of Court Administration. All Rights Reserved.
                            </td>
                            <td align="right">
                                <i>Office of Court Administration</i>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
    </div>
    </form>
</body>
</html>
