/*<meta sourceDocument="C:\Documents and Settings\cvelasco\My Documents\CSCMS User Guide 2-24-11.docx" />*/

p
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ol
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ul
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

li
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

td
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	vertical-align: top;
}

p.Header
{
	margin-bottom: 10pt;
	font-size: 11pt;
	font-family: Calibri;
}

p.Footer
{
	margin-bottom: 10pt;
	font-size: 11pt;
	font-family: Calibri;
}

p.p_1
{
	font-weight: bold;
	color: #000000;
	font-size: 22pt;
}

p.p_2
{
	font-weight: bold;
	color: #000000;
	font-size: 18pt;
}

p.p_3
{
	text-align: center;
	color: #000000;
	font-size: 28pt;
}

p.p_4
{
	text-align: center;
}

h1.Heading1
{
	page-break-after: avoid;
	margin-top: 12pt;
	margin-bottom: 3pt;
	mc-heading-level: 1;
	font-family: Cambria;
	font-weight: bold;
	font-size: 16pt;
}

p.TOCHeading
{
	page-break-after: avoid;
	font-weight: bold;
	page-break-inside: avoid;
	margin-top: 24pt;
	margin-bottom: 0pt;
	mc-heading-level: 10;
	font-family: Cambria;
	color: #365F91;
	font-size: 14pt;
}

p.TOC1
{
	margin-bottom: 10pt;
	font-size: 11pt;
	margin-right: 36pt;
	font-family: Calibri;
}

span.span_1
{
	font-weight: bold;
	font-size: 24pt;
}

span.span_2
{
	font-weight: bold;
}

img.img_1
{
	visibility: visible;
}

span.span_3
{
	font-size: 28pt;
}

p.TOCHeading_1
{
	page-break-after: avoid;
	font-weight: bold;
	page-break-inside: avoid;
	margin-top: 24pt;
	margin-bottom: 0pt;
	mc-heading-level: 10;
	font-family: Cambria;
	color: #365F91;
	font-size: 14pt;
	text-align: center;
}

p.p_5
{
	font-weight: bold;
	font-size: 20pt;
}

p.p_6
{
	color: #FFFFFF;
	font-size: 12pt;
}

td.td_1
{
	background-color: #1F497D;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
}

td.td_2
{
	background-color: #1F497D;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
}

p.p_7
{
	font-size: 12pt;
}

td.td_3
{
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
}

td.td_4
{
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
}

table.table_1
{
	margin-left: 5pt;
	border-collapse: collapse;
}

p.p_8
{
	text-align: center;
	font-weight: bold;
	color: #000000;
	font-size: 18pt;
}

span.span_4
{
	font-weight: bold;
	font-size: 14pt;
}

span.span_5
{
	font-family: Cambria;
	font-weight: bold;
	font-size: 14pt;
}

a.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

span.Hyperlink
{
	color: #0000FF;
	text-decoration: underline;
}

li.ListParagraph
{
	font-size: 11pt;
	margin-bottom: 0pt;
	margin-left: 36pt;
	font-family: Calibri;
}

li.ListParagraph_1
{
	font-size: 11pt;
	margin-bottom: 0pt;
	margin-left: 36pt;
	font-family: Calibri;
	list-style-type: square;
}

ul.ul_1
{
	list-style-type: square;
	margin-left: 36pt;
}

p.p_9
{
	font-weight: bold;
	text-decoration: underline;
}

span.span_6
{
	font-weight: bold;
	text-decoration: underline;
}

span.span_7
{
	color: #FF0000;
}

p.ListParagraph
{
	font-size: 11pt;
	margin-bottom: 0pt;
	margin-left: 36pt;
	font-family: Calibri;
}

li.ListParagraph_2
{
	font-size: 11pt;
	margin-bottom: 0pt;
	margin-left: 36pt;
	font-family: Calibri;
	font-weight: bold;
}

ol.ol_1
{
	list-style-type: decimal;
	margin-left: 54pt;
}

p.ListParagraph_1
{
	font-size: 11pt;
	margin-bottom: 0pt;
	font-family: Calibri;
	margin-left: 54pt;
}

li.ListParagraph_3
{
	font-size: 11pt;
	margin-left: 36pt;
	font-family: Calibri;
	margin-bottom: 10pt;
}

ol.ol_2
{
	list-style-type: lower-alpha;
	margin-left: 72pt;
}

p.Header_1
{
	margin-bottom: 10pt;
	font-size: 11pt;
	font-family: Calibri;
	margin-left: 5pt;
	margin-right: 5pt;
	text-align: center;
}

