@import url(reset_all.css);

body, html {
	height:100%;
	margin:0;
	background-color: #678FC2;
}

body
{
	margin: 0px auto 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	color:#333;
	line-height:150%;
}

td
{
    font-family: Arial, Helvetica, Sans-Serif;
    color: #333;
    font-size: 11px;
    line-height: 150%;
}

h1
{
	font-size:167%; /* 22px */
	color:#000;
}

h2
{
	font-size:138.5%; /* 18px */
	color:#000;
}

h3
{
	font-size:108%; /* 14px */
	font-weight:bold;
	color:#000;
}

h1, h2, h3, p, fieldset
{
	margin-bottom:1em;
}

a
{
	text-decoration:none;
	color:#537A98;
	font-weight: bold;
}

a:hover
{
	text-decoration:underline;
	color:#990000 !important;
}

a.external {
	background-image:url(images/external.png);
	background-position:right center;
	background-repeat:no-repeat;
	padding-right:12px;
}

fieldset
{
	border:1px dotted #a8b2bb;
	padding:3px 5px;
	margin:3px;
}

legend
{
	color:#000;
	/*border:1px dotted #a8b2bb;*/
	padding:0 3px;
}

hr
{
    width: 100%;
    color: #77AADD;
    height: 1px;
}

td.footer
{
    background-image: url('../images/bottombg.jpg');
    height: 30px;
}
td.footerAnon
{
    background-image: url('../images/bottombgbig.jpg');
    padding-left: 20px;
    padding-right: 20px;
    height: 72px;
    font-size: 10px;
}
td.footerAnon A
{
    font-size: 11px;
    font-weight: bold;
}
TABLE.sectionContainer, TABLE.sectionContainerNoPadding, TABLE.sectionContainerGrid
{
    border-top: solid 1px #88b0e4;
    border-left: solid 1px #88b0e4;
    border-right: solid 1px #88b0e4;
    margin-bottom: 8px;
}

TABLE.sectionContainerNote
{
    border-top: solid 1px #5588BB;
    border-left: solid 1px #5588BB;
    border-right: solid 1px #5588BB;
    margin-bottom: 8px;
}

TH.sectionContainer, TH.sectionContainerNote, TH.sectionContainerNoPadding
{
    height: 22px;
    text-align: left;
    font-family: Arial;
    font-weight: bold;
    background: #b2cff1 url('../images/sectionBg.png') repeat-x;
    color: #47257f;
    border-bottom: solid 1px #88b0e4;
    padding-left: 5px;
}

TH.sectionContainerGrid
{
    height: 22px;
    text-align: left;
    font-weight: bold;
    background-color: #b2cff1;
    color: #47257f;
    border-top: solid 1px #eceef5;
    padding-left: 5px;
}

TD.sectionContainer
{
    background-color: #e3f1fe;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px #88b0e4;
}

TD.sectionContainerNote
{
    background-color: #ffffdd;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px #5588BB;
}

TD.sectionContainerNoPadding, TD.sectionContainerGrid
{
    background-color: #e3f1fe;
    padding: 0px;
    border-bottom: solid 1px #88b0e4;
}

.pageTitle
{
    font-family: Times New Roman,Garamond,Arial;
    text-transform: uppercase;
	font-weight:bold;
	font-size:18px;
	padding-bottom: 7px;
}

.messagebox_top {
	background-image: url(../images/bluebox_top.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 6px;
}

.messagebox_mid {
	background-color: #b2c6dc;
	background-image: url(../images/bluebox_mid.gif);
	background-repeat: repeat-x;
	background-position: top;
	padding-top: 9px;
	padding-right: 15px;
	padding-bottom: 9px;
	padding-left: 15px;
	width: 876px;
}

.messagebox_lwr {
	background-image: url(../images/bluebox_lwr.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 7px;
	margin-bottom: 15px;
}

ul.messageList {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
ul.messageList li {
	background-repeat: no-repeat;
	background-position: left top;
	margin-bottom: 5px;
	padding-left: 20px;
	padding-top: 0px;
}
ul.messageList li.infoMsg {
	background-image: url(../images/info_icon.png);
}
ul.messageList li.successMsg {
	background-image: url(../images/success_icon.png);
}
ul.messageList li.errorMsg {
	background-image: url(../images/error_icon.png);
}

.rspPaneTabText
{
    font-size: 12px !important;
}

.RadSplitter_Default
{
    border: 0px !important;
}

.RadSplitter_Office2007
{
    border: 0px !important;
}

.fieldLabel
{
    font-family: Arial;
    font-weight: bold;
    color: #333;
    text-align: right;
}

.fieldLabelReq
{
    font-family: Arial;
    font-weight: bold;
    color: #990000;
    text-align: right;
}

/*INPUT.submit
{
    background: #46779a;
    color: #fff;
    border: double #73a0c0;
}*/

INPUT.submit
{
    background: #ffffcc url('../images/buttonbg.gif') repeat-x;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #990000;
    border: solid 1px #d8ca95;
    height: 23px;
    padding: 0px;
}

INPUT.submitMedium
{
    background: #ffffcc url('../images/buttonbg.gif') repeat-x;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: #990000;
    border: solid 1px #d8ca95;
    height: 20px;
    padding: 0px;
}

INPUT.submitMediumBlue
{
    background: #C0C0C0 url('../images/buttonbg.gif') repeat-x;
    font-family: "Segoe UI" , Arial, sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: #0000FF;
    border: solid 1px #d8ca95;
    height: 20px;
    padding: 0px;
}

INPUT.submitSmall
{
    background: #ffffcc url('../images/buttonbg.gif') repeat-x;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #990000;
    border: solid 1px #d8ca95;
    height: 17px;
    padding: 0px;
}

INPUT.submitSmallRed
{
    background: #f7e7e7 url('../images/buttonbgredsmall.gif') repeat-x;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #990000;
    border: solid 1px #c75b5a;
    height: 17px;
    padding: 0px;
}

INPUT.submitMediumRed
{
    background: #f7e7e7 url('../images/buttonbgred.gif') repeat-x;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: #990000;
    border: solid 1px #c75b5a;
    height: 20px;
    padding: 0px;
}

div.validationSummary
{
    padding-bottom: 10px;
}

div.validationSummary LI
{
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 10px;
    color: #CC0000;
}

TABLE.userSummary TD
{
    color: #444444;
    font-family: Arial;
    font-size: 11px;
}

.smallBold
{
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
}

.welcome
{
    font-family: Times New Roman,Garamond,Arial;
	font-weight:bold;
	font-size:18px;
	padding-top: 5px;
	padding-bottom: 7px;
	color: #336699;	
}

DIV.bottomSection
{
    width: 100%;
    height: 120px;
    /*overflow-y: scroll;*/
    border:solid 1px #5588BB;
    background-color: #ffffdd;
    margin-top: 10px;
}

DIV.bottomSection TABLE TD
{
    font-family: Arial;
    font-size: 10px;
}

DIV.noteList
{
    height: 120px;
    overflow-y: scroll;
    
}

TR.bottomSectionAlt TD
{
    background-color: #ffffff;
    border-top: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
}

.existingCase
{
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    border: solid 1px #88b0e4;
    background-color: #f9f6ef
}

.existingCaseSAVE
{
    width: 100%;
    height: 325px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: solid 1px #88b0e4;
    background-color: #f9f6ef
}

.newCase
{
    width: 100%;
}

.existingCaseSub
{
    margin: 10px;
}

.newCaseSub
{
}

.chkNoPad INPUT
{
    height: 13px;
    width: 13px;
}

.relationshipTable TD
{
    padding: 0px !important;
    border: none !important;
}

table.docket td
{
    font-size: 9px;
}

td.docketHead
{
    font-size: 14px !important;
    font-weight: bold !important;
    color: #336699;
    font-family: Arial;
}

table.aptTable, table.aptTableBlue, table.aptTableDarkBlue, table.aptTableDarkGreen, table.aptTableDarkRed, table.aptTableGreen, table.aptTableOrange, table.aptTablePink, table.aptTableRed, table.aptTableViolet, table.aptTableYellow
{
    border: 0px !important;
    padding: 0px;
    margin: 0px;
}
table.aptTable td, table.aptTableBlue td, table.aptTableDarkBlue td, table.aptTableDarkGreen td, table.aptTableDarkRed td, table.aptTableGreen td, table.aptTableOrange td, table.aptTablePink td, table.aptTableRed td, table.aptTableViolet td, table.aptTableYellow td
{
    border: 0px !important;
}
table.aptTableDarkBlue td, table.aptTableDarkGreen td, table.aptTableDarkRed td, table.aptTableViolet td
{
    color: #ffffff;
}

.gridSmall td
{
    font-size: 9px !important;
}

.gridSmallAlt td
{
    font-size: 9px !important;
    background-color: #ededed;
}

.gridSmallFuture td
{
    font-size: 9px !important;
    border-top: solid 1px #ff0000 !important;
}

.gridSmallAltFuture td
{
    font-size: 9px !important;
    background-color: #ededed;
    border-top: solid 1px #ff0000 !important;
}

.hidden
{
    visibility: hidden;
    display: none;
}

.tableSmallFont TD
{
    font-size: 10px;
}

TD.genoParent
{
    text-align: center;
    background-color: #bbddff;
    border: solid 1px #000000;
}

TD.genoChild
{
    text-align: center;
    background-color: #ffddff;
    border: solid 1px #000000;
}

TR.genoParentChildSpacer TD
{
    /*border: solid 1px #ff0000;*/
}


.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=50);
	opacity:0.7;
}
.AlignRight
{
   text-align:right;
}

.CSC_column1
{
        width: 350px;
        text-align: right;
        vertical-align: middle;
        float: left;
        height:25px;
}

.CSC_column2
{
        text-align: left;
        width: 145px;
        vertical-align: middle;
        float:right;
        height:25px;
}

.CSC_header
{
        text-align: center;
        width: 495px;
        font-weight: bold;
        margin-bottom: 2px;
}

.CSC_buttons
{
        text-align: center;
        width: 495px;
        border-bottom-style: solid;
        border-bottom-width: thin;
        clear:right;
}

.CSC_control
{
        float:left;
}
    
.CSC_outerframe
{
        width: 495px; 
        text-align:center;
}


.PSC_column1
{
        width: 100px;
        text-align: right;
        vertical-align: middle;
        float: left;
        margin-bottom: 2px;
}

.PSC_column2
{
        text-align: left;
        width: 395px;
        vertical-align: middle;
        margin-bottom: 2px;
}

.PSC_header
{
        text-align: center;
        width: 495px;
        font-weight: bold;
        margin-bottom: 2px;
}

.PSC_buttons
{
        float: left;
        text-align: center;
        width: 495px;
        border-bottom-style: solid;
        border-bottom-width: thin;
}

.PSC_control
{
        float: left;
}
    
.PSC_outerframe
{
        width: 495px;
        text-align: center;
}

div.RadGrid .borderBottom td
{ 
    border-bottom-color:red; 
}