/* <RadMenu / Office2007> */

.RadMenu_Office2007 .rmRootGroup,
.RadMenu_Office2007 .rmLink,
.RadMenu_Office2007 .rmText,
.RadMenu_Office2007 .rmLeftArrow,
.RadMenu_Office2007 .rmRightArrow,
.RadMenu_Office2007 .rmTopArrow,
.RadMenu_Office2007 .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png');
	background-color: transparent;
}

.RadMenu_Office2007 .rmRootGroup
{
	border: 1px solid #688caf;
	background-repeat: repeat-x;
	background-position: 0 -408px;
	background-color: #BBD9FF;
}

/* <Root items> */

.RadMenu_Office2007,
.RadMenu_Office2007 .rmLink
{
	font: normal 12px/23px "Segoe UI", Arial, sans-serif;
	color: #ffffff;
	text-decoration: none;
}

.RadMenu_Office2007 .rmLink,
.RadMenu_Office2007 .rmText
{
	background-position: 0 1050px;
	background-repeat: no-repeat;
}

.RadMenu_Office2007 .rmLink:hover,
.RadMenu_Office2007 .rmFocused
{
	color: #000;
	background-position: 0 -72px;
}

.RadMenu_Office2007 .rmLink:hover .rmText,
.RadMenu_Office2007 .rmFocused .rmText
{
	background-position: 100% -96px;
}

.RadMenu_Office2007 .rmExpanded,
.RadMenu_Office2007 .rmExpanded:hover
{
	color: #000;
	background-position: 0 -120px;
}

.RadMenu_Office2007 .rmExpanded .rmText,
.RadMenu_Office2007 .rmExpanded:hover .rmText
{
	background-position: 100% -144px;
}

.RadMenu_Office2007 .rmDisabled,
.RadMenu_Office2007 .rmDisabled:hover
{
	color: #8d8d8d;
}

.RadMenu_Office2007 .rmDisabled:hover,
.RadMenu_Office2007 .rmDisabled:hover .rmText
{
	background: none;
	color: #8d8d8d;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_Office2007 .rmGroup,
.RadMenu_Office2007 .rmGroup .rmVertical
{
	border: 1px solid #868686;
	background: #fff url('Menu/rmVSprite.png') repeat-y -1px 0;
}

.RadMenu_Office2007 .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_Office2007_rtl .rmGroup,
.RadMenu_Office2007_rtl .rmGroup .rmVertical
{
	background-position: 101% 0;
}

.RadMenu_Office2007 .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_Office2007 .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_Office2007 .rmGroup .rmFirst,
.RadMenu_Office2007 .rmGroup .rmLast
{
	background: none;
}

.RadMenu_Office2007 .rmGroup .rmLast
{
	padding-bottom: 1px;
}

.RadMenu_Office2007 .rmGroup .rmLink:hover,
.RadMenu_Office2007 .rmGroup .rmFocused,
.RadMenu_Office2007 .rmGroup .rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_Office2007 .rmGroup .rmLink:hover .rmText,
.RadMenu_Office2007 .rmGroup .rmFocused .rmText,
.RadMenu_Office2007 .rmGroup .rmExpanded .rmText
{
	background-position: 100% -192px;
}

/* <expand arrows> */

.RadMenu_Office2007 .rmGroup .rmExpandRight,
.RadMenu_Office2007 .rmGroup .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_Office2007 .rmGroup .rmLink:hover .rmExpandRight,
.RadMenu_Office2007 .rmGroup .rmFocused .rmExpandRight,
.RadMenu_Office2007 .rmGroup .rmExpanded .rmExpandRight,
.RadMenu_Office2007 .rmGroup .rmLink:hover .rmExpandDown,
.RadMenu_Office2007 .rmGroup .rmFocused .rmExpandDown,
.RadMenu_Office2007 .rmGroup .rmExpanded .rmExpandDown
{
	background-position: 100% -240px;
}

.RadMenu_Office2007 .rmGroup .rmDisabled:hover .rmExpandRight,
.RadMenu_Office2007 .rmGroup .rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_Office2007_rtl .rmGroup .rmLink:hover,
.RadMenu_Office2007_rtl .rmGroup .rmFocused,
.RadMenu_Office2007_rtl .rmGroup .rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_Office2007_rtl .rmGroup .rmLink:hover .rmText,
.RadMenu_Office2007_rtl .rmGroup .rmFocused .rmText,
.RadMenu_Office2007_rtl .rmGroup .rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_Office2007_rtl .rmGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_Office2007_rtl .rmGroup .rmLink:hover .rmExpandLeft,
.RadMenu_Office2007_rtl .rmGroup .rmFocused .rmExpandLeft,
.RadMenu_Office2007_rtl .rmGroup .rmExpanded .rmExpandLeft
{
	background-position: 0 -336px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Office2007 - specific, overlapping submenus)> */

.RadMenu_Office2007 .rmSlide
{
	margin: -3px 0 0 3px;
}

.RadMenu_Office2007 .rmVertical .rmSlide,
.RadMenu_Office2007 .rmSlide .rmSlide,
.RadMenu_Office2007_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_Office2007_rtl .rmSlide
{
	margin: -3px 0 0 -3px;
}

.RadMenu_Office2007_rtl .rmVertical .rmSlide,
.RadMenu_Office2007_rtl .rmSlide .rmSlide,
.RadMenu_Office2007_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_Office2007 .rmLeftArrow,
.RadMenu_Office2007 .rmRightArrow
{
	background-color: #f6f6e8;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_Office2007 .rmLeftArrow,
.RadMenu_Office2007 .rmRightArrow
{
	background-color: #E0E5F5;
}

.RadMenu_Office2007 .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #B7BDCD; }
.RadMenu_Office2007 .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #B7BDCD; }

.RadMenu_Office2007 .rmTopArrow,
.RadMenu_Office2007 .rmBottomArrow,
.RadMenu_Office2007 .rmGroup .rmLeftArrow,
.RadMenu_Office2007 .rmGroup .rmRightArrow
{
	background-color: #f0f0f0;
}

.RadMenu_Office2007 .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #B7BDCD; }
.RadMenu_Office2007 .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #B7BDCD; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_Office2007 .rmVertical .rmSeparator .rmText,
.RadMenu_Office2007 .rmHorizontal .rmVertical .rmSeparator .rmText
{
	background-position: 0 -406px;
}

.RadMenu_Office2007 .rmHorizontal .rmSeparator .rmText,
.RadMenu_Office2007 .rmVertical .rmHorizontal .rmSeparator .rmText
{
	background-position: 0 -386px;
}

/* </Separators> */

/* </RadMenu / Office2007> */